*{
  margin:0;
  padding:0;
  box-sizing: border-box;  
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
}
.div1, .div2, .div3{
    background-color: aqua;
    border: 1px solid black;
   
}

.div1, .div2, .div3{
    margin: 5px;
    padding-top: 20px;
}
.div1 > h2 {
    background-color: burlywood;
    
}
.div2 > h2 {
    background-color: red;
}
.div3 > h2 {
    background-color: purple;
}
/* div{
    position: relative;
} */
h2{
    position: relative;
    float: right;
    top: -20px;
}

@media (min-width: 992px) {
    .div1, .div2, .div3 {
        float: left;
    }
    .div1{
        width: 32%;
        
    }
    .div2{
        width: 32%;
        
    }
    .div3{
        width: 32%;
        
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .div1, .div2, .div3 {
        float: left;
    }
    .div1{
        width: 48%;
        
    }
    .div2{
        width: 48%;
        
    }
    .div3{
        width: 97.5%;
        
    }
}
